name: OWASP ZAP Integration with GitHub Actions

on: [push]

permissions:
  contents: write
  actions: write
  issues: write
  security-events: write
  id-token: write
  checks: write
  statuses: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.6.1
        with:
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'http://testphp.vulnweb.com/'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
