name: OWASP ZAP Scan

on:
  push:

permissions:
  contents: read   # only reading repo is needed

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: "http://testphp.vulnweb.com/"
          cmd_options: "-a"

      - name: Upload Report Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: |
            report_html.html
            report_md.md
            report_json.json

