name: OWASP ZAP Scan

on:
  push:

permissions:
  contents: write   # REQUIRED to upload the report

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: "http://testphp.vulnweb.com/"
