name: OWASP ZAP Scan

on:
  push:

permissions:
  contents: write      # workflow-level permission
  actions: write
  checks: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    permissions:
      contents: write   # job-level permission (required)
      actions: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: "http://testphp.vulnweb.com/"
          cmd_options: "-a"

      - name: Upload ZAP Reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: |
            report_html.html
            report_md.md
            report_json.json
